* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: hsl(292, 42%, 14%);
    background-image: url('assets/images/background-pattern-desktop.svg');
    background-repeat: repeat-x;
    background-color: hsl(275, 100%, 97%);

}

#accordion-container {
    height: 100vh;
    display: grid;
    place-items: center;
}

#accordion {
    background-color: hsl(0, 0%, 100%);
    padding: 2.5rem 2rem;
    border-radius: 3%;
    height: 50vh;
    width: 50vh;

}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}